/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,
address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,
b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,
tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,
output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font:inherit;
font-size:100%;vertical-align:baseline}html{line-height:1}ol,ul{list-style:none}
table{border-collapse:collapse;border-spacing:0}caption,th,td{text-align:left;font-weight:normal;
vertical-align:middle}q,blockquote{quotes:none}q:before,q:after,blockquote:before,
blockquote:after{content:"";content:none}a img{border:none}article,aside,details,figcaption,
figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}

a {
  color: #00B7FF;
}


 
.stations {
	
	li {
		span {
			vertical-align: middle;
		}
		
		.station-circle {
			box-sizing:border-box;
			display:inline-block;
			border:7px solid #666;
			width:35px;
			height:35px;
			border-radius:100%;
			margin-right:0.5em;
		}
		
		&.current {
			.station-circle {
				border-color:red;
			}
		}
		
		&.near {
			.station-circle {
				border-color:green;
				
			}
		}
		
		padding:8px 0;
	}
  
  
  
  .station-name {
	  font-weight:bold;
	  
  }
  
  .distance {
	  font-size:80%;
		> span{
		
		}
		
		> span:after{
			content:"m)";
		}
		
		> span.kilometer:after{
			content:"km)";
		}
		
		> span:before{
			content:"(";
		}
	
	}
}

.stations li.current{
  
}




#createuser {
	box-sizing:border-box;
	position: fixed;
	padding:10px;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(255,255,255,0.9);
	z-index:1000;
	
	display:none;
}


.facial-select {
	$iconsize : 64px;
	li {
		display:inline-block;
		width:$iconsize;
		height:$iconsize;
		background-color: #ccc;
		position: relative;
		
		input ,img {
			width:$iconsize;
			height:$iconsize;
			display:block;
		}
		
		input {	
			position:absolute;
			left:0;
			top:0;
			border-radius:100%;
			border:1px solid #333;
			opacity:0;
		}
		
		input[type=radio]:checked+img {
			background-color: red;
		}
	}
}

