@import '_setting.scss';

/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,
address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,
b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,
tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,
output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font:inherit;
font-size:100%;vertical-align:baseline}html{line-height:1}ol,ul{list-style:none}
table{border-collapse:collapse;border-spacing:0}caption,th,td{text-align:left;font-weight:normal;
vertical-align:middle}q,blockquote{quotes:none}q:before,q:after,blockquote:before,
blockquote:after{content:"";content:none}a img{border:none}article,aside,details,figcaption,
figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}

$jaSansFontFamily: 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;

body {
//   padding: 50px;
background-image: $fabricTexture;
  background-size: 140px 76px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
 
}

// html側のベースフォントサイズは、remによるpx近似指定のため62.5%に設定
html {
	font-size: 62.5%;
	width:100%;
}

body {
	font-family: $jaSansFontFamily;
	font-size: 1.3em; //bodyのみはremを指定しない(Chromeのバグ対策)
	width:100%;
	overflow:hidden;
	position: fixed;
	-webkit-text-size-adjust: none;
}


a {
  color: #00B7FF;
}


$headerSize : 72px;

#railway , #dashboard {
	width:50%;
	top:$headerSize;
	height:calc(100% - #{$headerSize});
	position: fixed;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

header#global {
	height:$headerSize;
	width:100%;
	background-image: 
		url(/images/logo.png) ,
		url(/images/bg_head_left.png), 
		url(/images/bg_head_right.png) ,
		url(/images/bg_head.png);
	background-size: 
		375px 72px ,
		64px 72px ,
		64px 72px ,
		375px 72px;
	background-position: 
		center center,
		left center ,
		right center ,
		center center;
	background-repeat:no-repeat , no-repeat, no-repeat, repeat;
	
	position: fixed;
	top:0;left:0;
	z-index:2000;
}

#railway {left:0;}
#dashboard {
	right:0;
	background-color: #fff;box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

.stations {
	$circleSize:34px;
	$centerBorderSize:10px;
	$leftShift:40px;
	
	box-sizing:border-box;
	padding-left:$leftShift;
	
	&:before {
		display: block;
		content:"";
		border-left:10px solid #FFF;
		height:100%;
		position: fixed;
		left:$leftShift + ($circleSize - $centerBorderSize)/2;
		top:0;
	}
	
	li {
		span {
			vertical-align: middle;
		}
		
		.station-circle {
			background-color: #fff;
			box-sizing:border-box;
			display:inline-block;
			position: relative;
			border:7px solid #aaa;
			width:$circleSize;
			height:$circleSize;
			border-radius:100%;
			margin-right:0.3em;
			&:after {
				content:"";
				transform: scale(0.1);
				display:block;
				width:100%;
				height:100%;
				position: absolute;
				z-index:100;
				opacity:0;
				background-image: $goyachan;
				background-size: contain;
				transition:transform 1.8s cubic-bezier(0.07, 1.66, 0.27, 0.96) 0s , opacity 0.2s linear;
			}
		}
		
		.buddy {
			position: absolute;
			width:$leftShift;
			left:0;
			height:$circleSize;
			line-height:$circleSize;
			letter-spacing:-8px;
			text-align:Center;
			> span {
				display:inline;
			}
		} 
		
		&.current {
			.station-circle {
				&:after {
					transform:scale(1.6);
					opacity:1;
				}
			}
		}
		
		&.checked {
			.station-circle {
				background-color:red;
			}
		}
		
		&.near {
			.station-circle {
				border-color:green;
				
			}
		}

		
		padding:15px 0;
	}
  
  
  
  .station-name {
	  font-weight:bold;
	  font-family:$jaSansFontFamily;
	  font-size:13px;
  }
  
  .distance {
	  font-size:80%;
	  position: relative;
	  opacity:0.4;
		> span{
			position: absolute;
			right:0;
			bottom:-13px;
			font-size:10px;
			font-family:helvetica;
		}
		
		> span:after{
			content:"m)";
		}
		
		> span.kilometer:after{
			content:"km)";
		}
		
		> span:before{
			content:"(";
		}
	
	}
}

.stations li.current{
  
}




#createuser {
	box-sizing:border-box;
	position: fixed;
	padding:10px;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(255,255,255,0.9);
	z-index:1000;
}


.facial-select {
	$iconsize : 64px;
	li {
		display:inline-block;
		width:$iconsize;
		height:$iconsize;
		background-color: #ccc;
		position: relative;
		
		input ,img {
			width:$iconsize;
			height:$iconsize;
			display:block;
		}
		
		input {	
			position:absolute;
			left:0;
			top:0;
			border-radius:100%;
			border:1px solid #333;
			opacity:0;
		}
		
		input[type=radio]:checked+img {
			background-color: red;
		}
	}
}



#dashboard {
	
	h1 {
		text-align:center;
		padding:20px 0;
		font-weight:bold;
		color:#666;
		// border-bottom:1px dotted #EEE;
		// margin-bottom:16px;
		
		img {
			display: block;
			margin:0 auto 8px auto;
		}
	}
	#counter {
		display: block;
		width:110px;
		height:110px;
		border:5px solid #CCC;
		border-radius:100%;
		margin: 0 auto;
		text-align:center;
		.label {
			display:block;
			padding-top:8px;
		}
		.number {
			font-family:Helvetica, sans-serif;
			font-weight:100;
			font-size:55px;
		}
	}
	
	#group-detail {
		
	}
	
	.group-info {
		width:85%;
		margin: 16px auto;
		span {
			display: block;
			text-align:Center;
			padding:4px 0;
			&.title {
				background-color: #666;
				font-weight:bold;
				color:#FFF;
			}
			
			&.group-id {
				background-color: #EEE;
				color:#666;
			}
			
		}
	}
}


.avatar {
	width:60px;
	height:60px;
	background-size: contain;
	border-radius:100%;

	&.type01{
		background-color: red;
		background-image: url(/images/avatar01.png);
	}
}

#groupId , #getfromgroupId {
	z-index:4000;
	position: relative;
	display: none;
}

#station-selector , #checkin {
	position: relative;
	z-index:3000;
}